.vitals {
    width: calc(100vw - 4rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.vitals > * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vitals > * > * {
    display: flex;
    flex-direction: column;
}

.vitals > * > * > p {
    margin: 0;
}

.vitals > * > svg {
    fill: var(--pri-color);
    opacity: var(--pri-opacity);
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
}

.title {
    padding-bottom: 0.5rem;
    font-weight: 700;
}